#heading{padding:5px 10px;
    border-radius: 20px;
    box-shadow: rgb(254, 229, 0) 0px 5px 15px;}

#courses_btn{box-shadow: rgb(254, 229, 0) 0px 5px 15px;}

#intro-image{width:100%;
    height:auto;}

.card{width:18rem;
    box-shadow: rgb(254, 229, 0) 0px 5px 15px;}

.card:hover{width:25rem;}

#cheatsheets{line-height: 70px;}

.section-heading{padding: 10px 10px;}

@media (max-width:840px){
    .content_credits{visibility: hidden;}
}

h1{text-decoration:underline;}

